
<h2>Todo App</h2>

<form action="/todos" method="POST">
  <input type="text" placeholder="name"
      name="name">
  <input type="text" placeholder="new todo"
      name="todo">
  <button type="submit">Submit</button>
</form>

<button id="action-delete" type="button">delete all</button>
<ul class="todos" onclick="toggleCompleted(event)">
  <% for(var i=0; i<todos.length; i++) {%>
      <li class="todo"  data-completed="<%= todos[i].completed %>" id="<%= todos[i]._id %>" >
         <div>
            <span><%= todos[i].name %></span>
            <span class="ux-after"><%= todos[i].todo %></span>
            <%if (todos[i].completed == "true") {%>
                <span class="todo-completed">&#x2713;</span>
            <% } %>
            <a href="/delete/<%= todos[i]._id %>"  >delete</a>
            <a href="/edit/<%= todos[i]._id %>"  >edit</a>
        </div>
      </li>
  <% } %>
</ul>

<script type="text/javascript">
  var el = document.getElementById("action-delete");
  el.addEventListener("click", function (e) {
    e.preventDefault();
    var url = "http://localhost:8888/";
    fetch(url + "deleteall", {
      method: "POST"
    }).then (function (response) {
    });
  })

  function toggleCompleted(e){
    if (e.target.tagName.toLowerCase() == "a") return;

    var el = e.target.closest("li");
    var id = el.getAttribute("id");
    var completed = el.getAttribute("data-completed");
    var url = "http://localhost:8888/";
    var data = JSON.stringify({
      id: id,
      completed: completed
    });
    fetch(url + "toggleCompleted", {
      method: "POST",
      headers: {
            "Content-Type": "application/json"
      },
      body: data
    }).then (function (response) {
       response.json().then(function (response) {
         console.log(response);
         var $li =$("#" + response.id);

         $li.attr("data-completed", response.status);
         if (response.status=="false") {
           $li.find("div .todo-completed").remove();
         } else {
           $li.find("div .ux-after").append('<span class="todo-completed">&#x2713;</span>');
         }
       })
    });
  }

</script>
