<h2>Todo App</h2>

<form action="/todos" method="POST">
  <input type="text" placeholder="name"
      name="name">
  <input type="text" placeholder="new todo"
      name="todo">
  <button type="submit">Submit</button>
</form>

<button id="action-delete" type="button">delete all</button>
<ul class="todos" onclick="toggleCompleted(event)">
  <% for(var i=0; i<todos.length; i++) {%>
      <li class="todo"  data-completed="<%= todos[i].completed %>" id="<%= todos[i]._id %>" >
         <div>
            <a href="/toggleCompleted/<%=todos[i]._id%>/<%=todos[i].completed%>">
              <span><%= todos[i].name %></span>
              <span class="ux-after"><%= todos[i].todo %></span>
              <%if (todos[i].completed == "true") {%>
                  <span class="todo-completed">&#x2713;</span>
              <% } %>
            </a>
            <a href="/delete/<%= todos[i]._id %>"  >delete</a>
            <a href="/edit/<%= todos[i]._id %>"  >edit</a>
        </div>
      </li>
  <% } %>
</ul>

<script type="text/javascript">
  var el = document.getElementById("action-delete");

  el.addEventListener("click", function (e) {
    e.preventDefault();
    var url = "http://localhost:8888/";
    post(url + "deleteall");
  })

  function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
  }

  function toggleCompleted(e){
    if (e.target.tagName.toLowerCase() == "a") return;

    var el = e.target.closest("li");
    var id = el.getAttribute("id");
    var completed = el.getAttribute("data-completed");
    var url = "http://localhost:8888/";
    var data = {
      id: id,
      completed: completed
    };

    post(url + "toggleCompleted", data);

  }

</script>
